.cartItemList {
   display: flex;
   flex-direction: column;
   border: 1px solid #ccc;
   background-color: #fff;
   border-radius: 5px;
   flex: 1;
   padding: 1rem;
}

.cartItem {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid #ccc;
}

.cartItem .cartImg {
   width: 100px;
   height: 100px;
}

.cartItem .cartImg img {
   width: 100%;
   height: auto;
}

.cartSummary {
   display: flex;
   flex-direction: column;
   border: 1px solid #ccc;
   background-color: #fff;
   border-radius: 5px;
   width: 30%;
   margin-left: 3rem;
   padding: 1rem;
}

.cartSummary h2 {
   margin-bottom: 30px;
}

.cartContainer {
   display: flex;
   width: 90vw;
   max-width: 1170px;
   justify-content: center;
   margin-top: 50px;
}

.summaryItem {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 10px;
}

.summaryItem.net {
   border-top: 1px solid #ccc;
   padding-top: 3px;
}

.btnGroup button {
   outline: none;
   border: 1px solid #6d28d9;
   color: #6d28d9;
   padding: 5px 10px;
   background-color: #fff;
}

.btnGroup button:first-child {
   border-radius: 5px 0 0 5px;
}

.btnGroup button:last-child {
   border-radius: 0 5px 5px 0;
}

.btnGroup button:nth-child(2) {
   border-left: 0;
   border-right: 0;
}
